<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html version="-//W3C//DTD XHTML 1.1//EN"
      xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml
                          http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
      >
  <head>
    <title>${title}</title>
    <link type="text/css" rel="stylesheet" href="../blog.css" />
  </head>
  <body>
    <div id="header">
      <h1>${title}</h1>
      <p class="tagline">A Primitive Baptist stay-at-home father, musician, and computer programmer who'll try anything once</p>
      <ul id="linkbar">
        <li><a href="/">Home</a></li>
        <li><a href="/links.html">Links</a></li>
        <li><a href="/post_index.html">Post Index</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </div>

    % for post in posts:
    <div id="content">
      <div class="post-content">
        ${post.content}
      </div>
    </div>
    % endfor
    
  <div id="footer">
    <p class="low-visibility">
      Copyright &copy; ${date} Jason R. Fruit.
    </p>
  </div>

  </body>
  
</html>
