# ${title}
    ${tagline}

=> / Home
=> /links.gmi Links
=> /post_index.gmi Post Index
=> https://jasonfruit.com Web version
=> /about.gmi About

# Posts:

% for post in posts:
=> ${post.url.replace(".html", ".gmi")} ${post.title}
% endfor
    
Copyright © ${date} ${name}.