body {
    background-color: #FFFFFF;
    width: 60%;
    padding-left: 20%;
    font-family: helvetica, sans-serif, sans;
}

#linkbar {
    display: inline;
    padding-left: 0%;
}

#linkbar li {
    padding-right: 15px;
    display: inline;
}

#linkbar.li {
    display: inline;
}

#main-title {
    font-size: 28pt;
    inherit: false;
}

h1 {
    font-size: 24pt;
}

p.tagline {
    font-size: 12pt;
    font-style: italic;
}

div.post-content {
    margin-top: 10px;
    margin-bottom: 18px;
    padding-left: 13px;
    padding-top: 3em;
}

blockquote {
    background-color: #EEFFDD;
    padding-left: 4px;
    border-left: solid;
    border-left-width: 1px;
}

#footer {
    padding-top: 5em;
}

.low-visibility {
    color: #AAAAAA;
}
